#documents-table td p {
    white-space: nowrap;
}

#view-service-account-table td, #view-service-account-table th {
    padding: 5px;
}

.edit-factory-payment:hover {
    background-color: #eee;
    cursor: pointer;
}

.edit-factory-payment p {
    white-space: normal !important;
}

.light_green {
    background-color: #d6f5d6;
}

.light_purple {
    background-color: #c5bcea;
}

.light_yellow {
    background-color: #eff7ad;
}

.light_blue {
    background-color: #cbffff;
}

.light_orange {
    background-color: #e08f55;
}